{{#if enabling}}
<p>{{ localize "MODMANAGE.DepEnable" number=dependencies.length }}</p>
{{else}}
<p>{{ localize "MODMANAGE.DepDisable" number=dependencies.length }}</p>
{{/if}}

<ul>
    {{#each dependencies}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>

{{#if enabling}}
<p>{{ localize "MODMANAGE.DepEnableCheck" }}</p>
{{else}}
<p>{{ localize "MODMANAGE.DepDisableCheck" }}</p>
{{/if}}
