<form id="join-game" autocomplete="off">
    <header id="world-title" class="join-header app">
        <h1>{{ world.title }}</h1>
    </header>

    <section class="join-body flexrow">
        <div class="left flexcol">
            <div class="app">
                <h1>{{ localize "JOIN.HeaderJoin" }}</h1>
                <div class="form-group split">
                    <label><i class="fas fa-user"></i> {{ localize "JOIN.SelectUser" }}</label>
                    <select name="userid">
                        <option value=""></option>
                        {{#each users}}
                        <option value="{{this.id}}" {{#if this.active}}disabled{{/if}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group split">
                    <label><i class="fas fa-key"></i> {{ localize "JOIN.UserKey" }}</label>
                    <input type="password" name="password" placeholder="{{ localize "USERS.AccessKey" }}" value="" autocomplete="off"/>
                </div>
                <button type="button" name="join" title="{{ localize "JOIN.HeaderJoin" }}">
                    <i class="fas fa-check"></i> {{ localize "JOIN.HeaderJoin" }}
                </button>
            </div>

            <div class="app">
                <h1>{{ localize "JOIN.HeaderDetails" }}</h1>
                <div class="form-group">
                    <label><i class="fas fa-clock"></i> {{ localize "JOIN.NextSession" }}<span id="next-tz">{{ nextTZ }}</span></label>
                    <div class="form-fields">
                        <input type="date" id="next-date" value="{{nextDate}}" disabled/>
                        <input type="time" id="next-time" value="{{nextTime}}" disabled/>
                    </div>
                </div>
                <div class="form-group current-players">
                    <label><i class="fas fa-users"></i> {{ localize "JOIN.CurrentPlayers" }}</label>
                    <div class="form-fields">
                        <input type="text" value="{{ usersCurrent }}" disabled/>
                        <span class="sep"> / </span>
                        <input type="text" value="{{ usersMax }}" disabled/>
                    </div>
                </div>
            </div>

            <div class="app">
                <h1>{{ localize "JOIN.HeaderSetup" }}</h1>
                {{#if isAdmin }}
                <p>{{ localize "JOIN.AuthAdmin" }}</p>
                {{else}}
                <div class="form-group">
                    <label><i class="fas fa-key"></i> {{ localize "SETUP.AdminKeyLabel" }}</label>
                    <input type="password" name="adminKey" value="" autocomplete="off">
                </div>
                {{/if}}
                <button type="button" name="shutdown" title="{{ localize "JOIN.HeaderSetup" }}">
                    <i class="fas fa-lock"></i> {{ localize "JOIN.HeaderSetup" }}
                </button>
            </div>
        </div>

        <div class="right flexcol">
            <div id="world-description" class="app">
                <h1>{{ localize "JOIN.HeaderWorld" }}</h1>
                {{{ world.description }}}
            </div>
        </div>
    </section>
</form>