<form id="setup-configuration" class="flexcol dark" autocomplete="off">

    <header>
        <h1>Foundry Virtual Tabletop &bull; {{localize "SETUP.Title"}}</h1>
    </header>

    <!-- Navigation Tabs -->
    <nav class="sheet-tabs tabs" data-group="components">
        <a class="item{{#if noSystems}} disabled{{/if}}" {{#unless noSystems}}data-tab="worlds"{{/unless}}>
            <i class="fas fa-globe-asia"></i> {{localize "SETUP.Worlds"}}
        </a>
        <a class="item" data-tab="systems"><i class="fas fa-dice"></i> {{localize "SETUP.Systems"}}</a>
        <a class="item" data-tab="modules"><i class="fas fa-plug"></i> {{localize "SETUP.Modules"}}</a>
        <a class="item" data-tab="configuration"><i class="fas fa-cogs"></i> {{localize "SETUP.Configuration"}}</a>
        <a class="item" data-tab="update">
            <i class="fas fa-cloud-download-alt"></i> {{localize "SETUP.Update"}}
            {{#if coreUpdate}}
            <i class="notification-pip fas fa-exclamation-circle" title="{{ coreUpdate }}"></i>
            {{/if}}
        </a>
    </nav>

    <!-- Main Content Section -->
    <section id="config-tabs" class="content flexcol">

        <!-- Worlds Tab -->
        <div class="tab" data-tab="worlds" data-group="components">
            <div class="filter-row">
                <div class="filter">
                    <label><i class="fas fa-search"></i></label>
                    <input id="world-filter" name="worldsFilter" type="text" placeholder="{{ localize 'SETUP.WorldFilter' }}" value="" autocomplete="off" />
                </div>
            </div>
            <div class="no-results hidden">{{localize "SETUP.PackagesNoResults"}}</div>
            <ul id="world-list" class="directory-list package-list" data-package-type="world">
                {{#each worlds}}
                <li class="package flexrow" data-package-id="{{this.id}}">
                    <div class="package-overview flexrow">
                        <h3 class="package-title">{{this.data.title}}</h3>
                        {{> templates/setup/parts/package-tags.html versionLabel="PACKAGE.TagCoreVersion" version=data.coreVersion}}
                    </div>

                    {{#if this.shortDesc}}
                    <div class="package-description">
                        {{{this.shortDesc}}}
                    </div>
                    {{/if}}

                    <ul class="package-metadata">
                        <li><strong>{{localize "System"}}:</strong> {{this.system.data.title}}</li>
                        <li><strong>{{localize "Path"}}:</strong> {{this.path}}</li>
                    </ul>

                    <div class="package-controls">
                        <button class="uninstall" type="button">
                            <i class="fas fa-trash"></i>
                            <label>{{localize "SETUP.WorldDelete"}}</label>
                        </button>
                        <button class="edit-world" type="button" data-world="{{ this.id }}">
                            <i class="fas fa-edit"></i> {{localize "SETUP.WorldEdit"}}
                        </button>
                        <button type="button" name="action" data-action="launchWorld" data-world="{{ this.id }}">
                            <i class="fas fa-play"></i> {{localize "SETUP.WorldLaunch"}}
                        </button>
                    </div>
                </li>
                {{/each}}
            </ul>

            <footer class="setup-footer flexrow">
                <div class="progress-bar">
                    <span class="bar"></span>
                    <label class="pct"></label>
                </div>
                <button class="install-package" type="button">
                    <i class="fas fa-download"></i>
                    <label>{{localize "SETUP.InstallWorld"}}</label>
                </button>
                <button id="create-world" type="button">
                    <i class="fas fa-globe-asia"></i>
                    <label>{{localize "SETUP.WorldCreate"}}</label>
                </button>
            </footer>
        </div>

        <!-- Systems Tab -->
        <div class="tab" data-tab="systems" data-group="components">
            <div class="filter-row">
                <div class="filter">
                    <label><i class="fas fa-search"></i></label>
                    <input id="system-filter" name="systemsFilter" type="text" placeholder="{{ localize 'SETUP.SystemFilter' }}" value="" autocomplete="off" />
                </div>
            </div>
            {{#if noSystems}}
            <div class="message">
                <em>{{localize "SETUP.GettingStarted"}}</em>
                <p>{{{localize "SETUP.NoSystemsMessage"}}}</p>
                <p>{{{localize "SETUP.SeeTutorial"}}}</p>
            </div>
            {{/if}}
            <div class="no-results hidden">{{localize "SETUP.PackagesNoResults"}}</div>
            <ul id="system-list" class="directory-list package-list {{#if noSystems}}empty{{/if}}" data-package-type="system">
                {{#each systems}}
                <li class="package flexrow" data-package-id="{{this.id}}">
                    <div class="package-overview flexrow">
                        <h3 class="package-title">{{this.data.title}}</h3>
                        {{> templates/setup/parts/package-tags.html versionLabel="PACKAGE.TagVersion" version=data.version}}
                    </div>

                    <div class="package-description">
                        {{{this.data.description}}}
                    </div>

                    <ul class="package-metadata">
                        <li><strong>{{labels.authors}}:</strong> {{{authors}}}</li>
                        <li><strong>{{localize "Path"}}:</strong> {{this.path}}</li>
                        {{#if this.data.url}}
                        <li><strong>{{localize "URL"}}:</strong> <a href="{{this.data.url}}" target="_blank" rel="noreferrer noopener">{{this.data.url}}</a></li>
                        {{/if}}
                    </ul>

                    <div class="package-controls">
                        <button class="uninstall" {{#if this.locked}} hidden {{/if}} type="button">
                            <i class="fas fa-trash"></i>
                            <label>{{localize "SETUP.Uninstall"}}</label>
                        </button>
                        {{#if this.data.manifest}}
                            <button class="update" {{#if this.locked}} hidden {{/if}} {{#if this.data.updated}} disabled {{/if}} type="button" data-state="check">
                                {{#if this.data.updated}}
                                    <i class="fas fa-check"></i>
                                    <label>{{localize "SETUP.PackageStatusUpdated"}}</label>
                                {{else}}
                                    <i class="fas fa-sync-alt"></i>
                                    <label>{{localize "SETUP.UpdateCheck"}}</label>
                                {{/if}}
                            </button>
                        {{/if}}

                        <button class="lock-toggle {{#if this.locked}}unlock{{else}}lock{{/if}}" title="{{localize "SETUP.LockHint"}}" type="button">
                            {{#if this.locked}}
                            <i class="fas fa-lock"></i>
                            {{else}}
                            <i class="fas fa-unlock"></i>
                            {{/if}}
                        </button>
                    </div>
                </li>
                {{/each}}
            </ul>

            <footer class="setup-footer flexrow">
                <div class="progress-bar">
                    <span class="bar"></span>
                    <label class="pct"></label>
                </div>
                <button class="install-package" type="button">
                    <i class="fas fa-download"></i>
                    <label>{{localize "SETUP.InstallSystem"}}</label>
                </button>
                <button class="update-packages" type="button">
                    <i class="fas fa-cloud-download-alt"></i>
                    <label>{{localize "SETUP.UpdateAll"}}</label>
                </button>
            </footer>
        </div>

        <!-- Modules Tab -->
        <div class="tab" data-tab="modules" data-group="components">
            <div class="filter-row">
                <div class="filter">
                    <label><i class="fas fa-search"></i></label>
                    <input id="module-filter" name="modulesFilter" type="text" placeholder="{{ localize 'SETUP.ModuleFilter' }}" value="" autocomplete="off" />
                </div>
            </div>
            <div class="no-results hidden">{{localize "SETUP.PackagesNoResults"}}</div>
            <ul id="module-list" class="directory-list package-list" data-package-type="module">
                {{#each modules}}
                <li class="package flexrow" data-package-id="{{this.data.name}}">
                    <div class="package-overview flexrow">
                        <h3 class="package-title">{{this.data.title}}</h3>
                        {{> templates/setup/parts/package-tags.html versionLabel="PACKAGE.TagVersion" version=data.version}}
                    </div>

                    <div class="package-description">
                        {{{this.data.description}}}
                    </div>

                    <ul class="package-metadata">
                        <li><strong>{{labels.authors}}:</strong> {{{authors}}}</li>
                        <li><strong>{{localize "Path"}}:</strong> {{this.path}}</li>
                        {{#if this.data.url}}
                        <li><strong>{{localize "URL"}}:</strong> <a href="{{this.data.url}}" target="_blank" rel="noreferrer noopener">{{this.data.url}}</a></li>
                        {{/if}}
                        {{#if this.dependencies}}
                        <li>
                            <strong>{{ localize "MODMANAGE.Dependencies" }}:</strong>
                            {{#each this.dependencies}}
                            <span class="tag">{{ this }}</span>
                            {{/each}}
                        </li>
                        {{/if}}
                    </ul>

                    <div class="package-controls">
                        <button class="uninstall" {{#if this.locked}} hidden {{/if}} type="button">
                             <i class="fas fa-trash"></i>
                             <label>{{localize "SETUP.Uninstall"}}</label>
                        </button>
                        {{#if this.data.manifest}}
                            <button class="update" {{#if this.locked}} hidden {{/if}} {{#if this.data.updated}} disabled {{/if}} type="button" data-state="check">
                                {{#if this.data.updated}}
                                    <i class="fas fa-check"></i>
                                    <label>{{localize "SETUP.PackageStatusUpdated"}}</label>
                                {{else}}
                                    <i class="fas fa-sync-alt"></i>
                                    <label>{{localize "SETUP.UpdateCheck"}}</label>
                                {{/if}}
                            </button>
                        {{/if}}

                        <button class="lock-toggle {{#if this.locked}}unlock{{else}}lock{{/if}}" title="{{localize "SETUP.LockHint"}}" type="button">
                            {{#if this.locked}}
                                <i class="fas fa-lock"></i>
                            {{else}}
                                <i class="fas fa-unlock"></i>
                            {{/if}}
                        </button>
                    </div>
                </li>
                {{/each}}
            </ul>

            <footer class="setup-footer flexrow">
                <div class="progress-bar">
                    <span class="bar"></span>
                    <label class="pct"></label>
                </div>
                <button class="install-package" type="button">
                    <i class="fas fa-download"></i>
                    <label>{{localize "SETUP.InstallModule"}}</label>
                </button>
                <button class="update-packages" type="button">
                    <i class="fas fa-cloud-download-alt"></i>
                    <label>{{localize "SETUP.UpdateAll"}}</label>
                </button>
            </footer>
        </div>

        <!-- Configuration Tab -->
        <div id="configuration" class="tab flexcol" data-tab="configuration" data-group="components">
            <p class="notification warning">{{localize "SETUP.ConfigurationWarning" }}</p>

            <div class="form-group">
                <label>{{localize "SETUP.AdminKeyLabel"}}</label>
                <input type="password" name="options.adminKey" value="{{{adminKey}}}"/>
                <p class="notes">{{localize "SETUP.AdminKeyHint"}}</p>
            </div>

            <div class="form-group">
                <label>{{localize "SETUP.DataPathLabel"}}</label>
                <input type="text" name="options.dataPath" value="{{ options.dataPath }}"/>
                <p class="notes">{{localize "SETUP.DataPathHint"}}</p>
            </div>

            <div class="form-group">
                <label>{{localize "SETUP.WorldLabel"}}</label>
                <select name="options.world">
                    {{#select options.world}}
                    <option value=""></option>
                    {{#each worlds}}
                    <option value="{{ this.id }}">{{ this.data.title }}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <p class="notes">{{localize "SETUP.WorldHint"}}</p>
            </div>

            <div class="form-group">
                <label>{{localize "SETUP.DefaultLanguage"}}</label>
                <select name="options.language">
                    {{#select options.language}}
                    {{#each languages as |language|}}
                    <optgroup label="{{language.label}}">
                        {{#each language.modules as |module|}}
                        <option value="{{language.id}}.{{module.id}}">{{ language.label }} - {{module.label}}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/select}}
                </select>
                <p class="notes">{{localize "SETUP.DefaultLanguageHint"}}</p>
            </div>

            <div class="form-group">
                <label>{{localize "SETUP.PortLabel"}}</label>
                <div class="form-fields">
                    <input type="text" name="options.port" data-dtype="Number" value="{{ options.port }}"/>
                    <label class="checkbox">
                        {{localize "SETUP.UPNPLabel"}}
                        <input type="checkbox" name="options.upnp" {{ checked options.upnp }}/>
                    </label>
                </div>
                <p class="notes">{{localize "SETUP.PortHint"}}</p>
            </div>

            <div class="form-group">
                <label>{{localize "SETUP.CompressStaticLabel"}}</label>
                <input type="checkbox" name="options.compressStatic" {{checked options.compressStatic}}/>
                <p class="notes">{{localize "SETUP.CompressStaticHint"}}</p>
            </div>

            <div class="form-group">
                <label>{{localize "SETUP.SSLCertLabel"}}</label>
                <input type="text" name="options.sslCert" value="{{ options.sslCert }}"/>
            </div>
            <div class="form-group">
                <label>{{localize "SETUP.SSLKeyLabel"}}</label>
                <input type="text" name="options.sslKey" value="{{ options.sslKey }}"/>
                <p class="notes">{{localize "SETUP.SSLHint"}}</p>
            </div>

            <div class="form-group">
                <label>{{localize "SETUP.AWSLabel"}}</label>
                <input type="text" name="options.awsConfig" value="{{ options.awsConfig }}"/>
                <p class="notes">{{localize "SETUP.AWSHint"}}</p>
            </div>

            <footer class="setup-footer flexrow">
               <button type="button" name="action" data-action="adminLogout">
                    <i class="fas fa-door-open"></i> {{ localize "SETUP.AdminLogout" }}
                </button>
                 <button id="admin-save" type="button" name="action" value="adminConfigure">
                    <i class="fas fa-save"></i> {{ localize "Save Changes" }}
                </button>
            </footer>
        </div>

        <!-- Update Tab -->
        <div id="update" class="tab flexcol" data-tab="update" data-group="components">
            {{#if coreUpdate}}
            <p class="notification info">{{ coreUpdate }}</p>
            {{/if}}
            {{#unless canReachInternet}}
                <p class="notification error">{{localize "SETUP.UpdateNoInternetError" }}</p>
            {{/unless}}
            {{#unless couldReachWebsite}}
                <p class="notification error">{{localize "SETUP.UpdateWebsiteUnreachableError" }}</p>
            {{/unless}}
            {{#if slowResponse}}
            <p class="notification warning">{{localize "SETUP.UpdateWebsiteSlowWarning" }}</p>
            {{/if}}

            <p class="notification warning">{{localize "SETUP.UpdateHint" }}</p>
            <div class="form-group">
                <label>{{ localize "SETUP.CurrentVersion" }}</label>
                <div class="form-fields">
                    <input type="text" value="{{ release.display }} - Build {{release.build}}" disabled/>
                </div>
                <p class="notes">{{ coreVersionHint }}</p>
            </div>

            <div class="form-group">
                <label>{{ localize "SETUP.UpdateChannel" }}</label>
                <div class="form-fields">
                    <select name="updateChannel">
                        {{#select options.updateChannel }}
                        {{#each updateChannels as |label c| }}
                        <option value="{{ c }}">{{ label }}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <p class="notes">{{localize "SETUP.UpdateChannelHint"}}</p>
                {{#each updateChannelHints as |hint c| }}
                    <p class="notification channel-hint {{c}}">{{hint}}</p>
                {{/each}}
            </div>

            <div class="form-group">
                <label id="force-update" class="checkbox-label">{{ localize "SETUP.ForceUpdate" }}</label>
                <input type="checkbox" name="forceUpdate"/>
                <p class="notes">{{localize "SETUP.ForceUpdateHint"}}</p>
            </div>

            <footer class="setup-footer flexrow">
                <div class="progress-bar">
                    <span class="bar"></span>
                    <label class="pct"></label>
                </div>
                <button id="update-core" type="button" name="action" value="updateCheck" {{#unless updateButtonEnabled}}disabled{{/unless}}>
                    <i class="fas fa-cloud-download-alt"></i>
                    <label>{{localize "SETUP.UpdateCheckFor"}}</label>
                </button>
            </footer>
        </div>
    </section>
</form>
