<section>
    <div class="update-notes">
        {{{notes}}}
    </div>
    <footer class="sheet-footer flexrow">
        <button type="button" data-action="download">
            <i class="fa fa-cloud-download-alt"></i>
            <label>Begin Download</label>
        </button>
    </footer>
</section>
