<form id="compendium-create">
    <p>{{localize "COMPENDIUM.CreateHint"}}</p>

    <div class="form-group">
        <label>{{localize "Name"}}</label>
        <input type="text" name="label" placeholder="{{localize 'COMPENDIUM.Name'}}"/>
    </div>

    <div class="form-group">
        <label>{{localize "COMPENDIUM.Type"}}</label>
        <select name="type">
            {{#each types}}
            <option value="{{this}}">{{localize this}}</option>
            {{/each}}
        </select>
        <p class="notes">{{localize "COMPENDIUM.TypeHint"}}</p>
    </div>
</form>
