<form class="flexrow" autocomplete="off">
    <nav class="filters">
        <h3>{{ localize "KEYBINDINGS.ActionCategories" }}</h3>
        <div class="category-filter all {{#if allActive}}active{{/if}}">
            <a class="filter" data-category="all">{{ localize "KEYBINDINGS.AllActions" }}</a>
            <span class="count">[{{ totalActions }}]</span>
        </div>
        {{#each categories as |category|}}
            <div class="category-filter {{ category.id }} {{#if category.active}}active{{/if}}">
                <a class="filter" data-category="{{ category.id }}">{{ category.title }}</a>
                <span class="count">[{{ category.count }}]</span>
            </div>
        {{/each}}
    </nav>

    <div class="categories flexcol">
        <div class="action-filter form-group">
            <button class="reset-all" type="button">
                <i class="fas fa-undo" title="{{localize 'SETTINGS.Reset'}}"></i> {{localize 'SETTINGS.Reset'}}
            </button>
            <label>{{localize "KEYBINDINGS.ActionFilter"}}</label>
            <input name="filter" type="text" placeholder="{{localize 'KEYBINDINGS.ActionName'}}" value=""/>
        </div>

        <div class="category-list">
        {{#each categories as |category|}}
            {{#unless category.hidden}}
            <section class="category" data-category-id="{{category.id}}">
                <header class="category-header flexrow">
                    <h3 class="category-title">{{this.title}}</h3>
                    <span class="category-collapse" title="Collapse"><i class="fas fa-chevron-down"></i></span>
                    <span class="category-collapse hidden" title="Expand"><i class="fas fa-chevron-up"></i></span>
                </header>
                <ol class="action-list">
                {{#each this.actions as |action| }}
                    <li class="action {{action.cssClass}} flexrow" data-action-id="{{action.id}}">
                        <h4 class="action-title">{{action.name}}</h4>
                        <ol class="action-bindings flexcol">
                        {{#if action.noBindings}}
                        <li class="binding flexrow" data-binding-id="empty">
                            <span></span>
                            <div class="binding-controls flexrow">
                                <a class="control" title="{{localize 'KEYBINDINGS.AddBinding'}}" data-action="add"><i class="fas fa-plus"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{#each action.bindings as |binding|}}
                            <li class="binding flexrow" data-binding-id="{{binding.id}}">
                                {{#if binding.isEditable}}
                                    <span class="key editable-binding {{binding.cssClasses}}">{{binding.display}}</span>
                                    <div class="editable-binding hidden">
                                        <div class="form-fields binding-fields">
                                            <input type="text" class="binding-input" name="{{binding.id}}" id="{{binding.id}}" value="{{binding.display}}" readonly>
                                            <i class="far fa-keyboard binding-input-icon"></i>
                                        </div>
                                    </div>
                                {{else}}
                                    <span class="key {{binding.cssClasses}}">{{binding.display}}</span>
                                {{/if}}
                                <div class="binding-controls flexrow">
                                    {{#if binding.hasConflicts}}
                                        <div class="control conflicts" title="{{binding.conflicts}}"><i class="fas fa-exclamation-triangle"></i></div>
                                    {{/if}}
                                    {{#if binding.isFirst}}
                                        <a class="control" title="{{localize 'KEYBINDINGS.AddBinding'}}" data-action="add"><i class="fas fa-plus"></i></a>
                                    {{/if}}
                                    {{#if binding.isEditable}}
                                        <a class="control save-edit hidden" title="{{localize 'KEYBINDINGS.SaveBinding'}}" data-action="save"><i class="fas fa-save"></i></a>
                                        <a class="control save-edit" title="{{localize 'KEYBINDINGS.EditBinding'}}" data-action="edit"><i class="fas fa-edit"></i></a>
                                        <a class="control" title="{{localize 'KEYBINDINGS.DeleteBinding'}}" data-action="delete"><i class="fas fa-trash-alt"></i></a>
                                    {{else}}
                                        <div class="control uneditable" title="{{localize 'KEYBINDINGS.Uneditable'}}"><i class="fas fa-lock"></i></div>
                                    {{/if}}
                                </div>
                            </li>
                        {{/each}}
                        </ol>
                        {{#if action.notes}}<p class="notes">{{{action.notes}}}</p>{{/if}}
                    </li>
                {{/each}}
                </ol>
            </section>
            {{/unless}}
        {{/each}}
        </div>
        <div class="footer notes">{{{localize "KEYBINDINGS.HowToEdit" icon="<i class='fas fa-edit'></i>"}}}</div>
    </div>
</form>
