<form autocomplete="off">
    <p class="notes">
        {{#if editable }}
        {{localize 'MODMANAGE.Instructions'}}
        {{else}}
        {{localize 'MODMANAGE.View'}}
        {{/if}}
    </p>

    <nav class="list-filters">
        <input type="text" name="search" placeholder="{{localize 'MODMANAGE.Search'}}" value=""/>
        {{#each filters}}
        <a class="filter" data-filter="{{ this.id }}">{{ this.label }} ({{ this.count }})</a>
        {{/each}}
        <button type="button" class="expand">
            <i class="fa"></i>
        </button>
    </nav>

    <ul id="module-list" class="directory-list package-list">
        {{#each modules}}
        <li class="package flexcol{{css}}" data-module-name="{{this.name}}">
            <div class="package-overview flexrow" title="{{this.title}}">
                <label class="package-title checkbox">
                    <input type="checkbox" class="active" name="{{this.name}}" data-dtype="Boolean" {{checked this.active}}/>
                    {{~this.title~}}
                </label>
                {{> templates/setup/parts/package-tags.html versionLabel="PACKAGE.TagVersion"}}
            </div>
            <div class="package-description" >
                {{{this.description}}}
                <ul class="package-metadata">
                    <li><strong>{{labels.authors}}:</strong> <span class="author">{{{authors}}}</span></li>
                    {{#if this.url}}
                    <li><strong>{{localize "URL"}}:</strong> <a href="{{this.url}}" target="_blank">{{this.url}}</a></li>
                    {{/if}}
                    {{#if this.readme}}
                    <li><strong>{{localize "MODMANAGE.Readme"}}:</strong> <a href="{{this.readme}}" target="_blank">{{this.readme}}</a></li>
                    {{/if}}
                    {{#if this.bugs}}
                    <li><strong>{{localize "MODMANAGE.Bugs"}}:</strong> <a href="{{this.bugs}}" target="_blank">{{this.bugs}}</a></li>
                    {{/if}}
                    {{#if this.dependencies}}
                    <li>
                        <strong>{{ localize "MODMANAGE.Dependencies" }}:</strong>
                        {{#each this.dependencies}}
                        <span class="tag">{{ this }}</span>
                        {{/each}}
                    </li>
                    {{/if}}
                </ul>
            </div>
        </li>
        {{ else }}
        {{#unless editable}}<p class="notes">{{ localize "MODMANAGE.None" }}</p>{{/unless}}
        {{/each}}
    </ul>

    {{#if editable}}
    <footer class="flexrow">
        <button type="submit" name="submit" value="1">
            <i class="far fa-save"></i> {{localize 'MODMANAGE.Submit'}}
        </button>
        <button type="button" name="deactivate">
            <i class="fas fa-ban"></i> {{localize 'MODMANAGE.DeactivateAll'}}
        </button>
    </footer>
    {{/if}}
</form>
