<form autocomplete="off" class="flexcol">

    <!-- Configuration Tabs -->
    <nav class="sheet-tabs tabs">
        <a class="item" data-tab="basic"><i class="fas fa-lightbulb"></i> {{localize "LIGHT.HeaderBasic"}}</a>
        <a class="item" data-tab="animation"><i class="fas fa-play"></i> {{localize "LIGHT.HeaderAnimation"}}</a>
        <a class="item" data-tab="advanced"><i class="fas fa-cogs"></i> {{localize "LIGHT.HeaderAdvanced"}}</a>
    </nav>

    <!-- Basic Tab -->
    <div class="tab" data-tab="basic">
        <div class="form-group slim">
            <label>{{localize "LIGHT.Coordinates"}} <span class="units">({{localize "Pixels"}})</span></label>
            <div class="form-fields">
                <label>X</label>
                <input type="number" name="x" value="{{data.x}}" placeholder="{{localize "Pixels"}}"/>
                <label>Y</label>
                <input type="number" name="y" value="{{data.y}}" placeholder="{{localize "Pixels"}}"/>
            </div>
        </div>

        <div class="form-group slim">
            <label>{{localize "LIGHT.Radius"}} <span class="units">({{gridUnits}})</span></label>
            <div class="form-fields">
                <label>{{localize "LIGHT.Dim"}}</label>
                <input type="number" name="config.dim" placeholder="{{gridUnits}}" value="{{data.config.dim}}" step="any"/>
                <label>{{localize "LIGHT.Bright"}}</label>
                <input type="number" name="config.bright" placeholder="{{gridUnits}}" value="{{data.config.bright}}" step="any"/>
            </div>
            <p class="hint">{{ localize 'LIGHT.RadiusHint' }}</p>
        </div>

        <div class="form-group slim">
            <label>{{localize "LIGHT.Angle" }} <span class="units">({{localize "Degrees"}})</span></label>
            <div class="form-fields">
                <label>{{localize "Degrees"}}</label>
                <input type="number" name="config.angle" value="{{data.config.angle}}" placeholder="{{localize "Degrees"}}"/>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "LIGHT.Rotation" }} <span class="units">({{localize "Degrees"}})</span></label>
            <div class="form-fields">
                {{rangePicker name="rotation" value=data.rotation min="0" max="360"}}
            </div>
            <p class="hint">{{ localize 'LIGHT.AngleHint' }}</p>
        </div>

        <div class="form-group">
            <label>{{ localize "LIGHT.Color" }}</label>
            <div class="form-fields">
                {{colorPicker name="config.color" value=data.config.color}}
            </div>
        </div>

        <div class="form-group">
            <label>{{ localize "LIGHT.Alpha" }}</label>
            <div class="form-fields">
                {{rangePicker name="config.alpha" value=data.config.alpha min="0" max="1" step="0.05"}}
            </div>
            <p class="hint">{{ localize 'LIGHT.ColorHint' }}</p>
        </div>

        <div class="form-group slim">
            <label>{{ localize "LIGHT.DarknessRange" }}</label>
            <div class="form-fields">
                <label>{{ localize "Between" }}</label>
                {{numberInput data.config.darkness.min name="config.darkness.min" placeholder="0" min=0 max=1}}
                <label>{{ localize "and" }}</label>
                {{numberInput data.config.darkness.max name="config.darkness.max" placeholder="1" min=0 max=1}}
            </div>
            <p class="hint">{{ localize "LIGHT.DarknessRangeHint" }}</p>
        </div>
    </div>

    <!-- Animation Tab -->
    <div class="tab" data-tab="animation">
        <div class="form-group">
            <label>{{localize "LIGHT.AnimationType"}}</label>
            <div class="form-fields">
                <select name="config.animation.type">
                    {{selectOptions lightAnimations selected=data.config.animation.type localize=true}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "LIGHT.AnimationSpeed"}}</label>
            <div class="form-fields">
                {{rangePicker name="config.animation.speed" value=data.config.animation.speed min="0" max="10" step="1"}}
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "LIGHT.AnimationReverse"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="config.animation.reverse" {{checked data.config.animation.reverse}}/>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "LIGHT.AnimationIntensity"}}</label>
            <div class="form-fields">
                {{rangePicker name="config.animation.intensity" value=data.config.animation.intensity min="1" max="10" step="1"}}
            </div>
            <p class="hint">{{ localize "LIGHT.AnimationHint" }}</p>
        </div>
    </div>

    <!-- Advanced Tab -->
    <div class="tab" data-tab="advanced">
        <div class="form-group">
            <label>{{localize "LIGHT.Walls"}}</label>
            <input type="checkbox" name="walls" {{checked data.walls}}>
            <p class="hint">{{ localize "LIGHT.WallsHint" }}</p>
        </div>

        <div class="form-group">
            <label>{{localize "LIGHT.Vision"}}</label>
            <input type="checkbox" name="vision" {{checked data.vision}}>
            <p class="hint">{{ localize "LIGHT.VisionHint" }}</p>
        </div>

        <div class="form-group">
            <label>{{ localize 'LIGHT.ColorationTechnique' }}</label>
            <div class="form-fields">
                <select name="config.coloration" data-dtype="Number">
                    {{selectOptions colorationTechniques selected=data.config.coloration nameAttr="id" labelAttr="label" localize=true}}
                </select>
            </div>
            <p class="hint">{{ localize 'LIGHT.ColorationTechniqueHint' }}</p>
        </div>

        <div class="form-group">
            <label>{{ localize 'LIGHT.Luminosity' }}</label>
            <div class="form-fields">
                {{ rangePicker name="config.luminosity" value=data.config.luminosity min="-1" max="1" step="0.05" }}
            </div>
            <p class="hint">{{ localize 'LIGHT.LuminosityHint' }}</p>
        </div>

        <div class="form-group">
            <label>{{ localize 'LIGHT.Gradual' }}</label>
            <div class="form-fields">
                <input type="checkbox" name="config.gradual" {{checked data.config.gradual}}/>
            </div>
            <p class="hint">{{ localize 'LIGHT.GradualHint' }}</p>
        </div>

        <div class="form-group">
            <label>{{ localize 'LIGHT.Saturation' }}</label>
            <div class="form-fields">
                {{ rangePicker name="config.saturation" value=data.config.saturation min="-1" max="1" step="0.05" }}
            </div>
            <p class="hint">{{ localize 'LIGHT.SaturationHint' }}</p>
        </div>

        <div class="form-group">
            <label>{{ localize 'LIGHT.Contrast' }}</label>
            <div class="form-fields">
                {{ rangePicker name="config.contrast" value=data.config.contrast min="-1" max="1" step="0.05" }}
            </div>
            <p class="hint">{{ localize 'LIGHT.ContrastHint' }}</p>
        </div>

        <div class="form-group">
            <label>{{ localize 'LIGHT.Shadows' }}</label>
            <div class="form-fields">
                {{ rangePicker name="config.shadows" value=data.config.shadows min="0" max="1" step="0.05" }}
            </div>
            <p class="hint">{{ localize 'LIGHT.ShadowsHint' }}</p>
        </div>
    </div>

    <footer class="sheet-footer">
        <button type="reset" {{#unless isAdvanced}}class="hidden"{{/unless}}>
            <i class="fas fa-undo"></i> {{localize "LIGHT.ResetAdvanced"}}
        </button>
        <button type="submit" name="submit">
            <i class="far fa-save"></i> {{submitText}}
        </button>
    </footer>
</form>
