<form class="flexcol {{cssClasses}}" autocomplete="off">

    <!-- Token Configuration Tabs -->
    <nav class="sheet-tabs tabs" data-group="main">
        <a class="item" data-tab="character"><i class="fas fa-user"></i> {{localize "TOKEN.HeaderIdentity"}}</a>
        <a class="item" data-tab="vision"><i class="fas fa-eye"></i> {{localize "TOKEN.HeaderVision"}}</a>
        <a class="item" data-tab="light"><i class="fas fa-lightbulb"></i> {{localize "TOKEN.HeaderLight"}}</a>
        <a class="item" data-tab="resources"><i class="fas fa-heart"></i> {{localize "TOKEN.HeaderResources"}}</a>
    </nav>

    <!-- Token Character -->
    <div class="tab" data-group="main" data-tab="character">
        <div class="form-group">
            <label>{{localize "TOKEN.CharShowNameplate"}}</label>
            <select name="displayName" data-dtype="Number">
                {{selectOptions displayModes selected=object.displayName }}
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "TOKEN.Disposition"}}</label>
            <select name="disposition" data-dtype="Number">
                {{selectOptions dispositions selected=object.disposition }}
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "TOKEN.LockRotation"}}</label>
            <input type="checkbox" name="lockRotation" {{checked object.lockRotation}}/>
        </div>
    </div>

    <!-- Vision -->
    {{> "templates/scene/parts/token-vision.html"}}

    <!-- Light -->
    {{> "templates/scene/parts/token-lighting.html"}}

    <!-- Resource Bars -->
    {{> "templates/scene/parts/token-resources.html"}}

    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="far fa-save"></i> {{localize "SETTINGS.Save"}}
        </button>
        <button type="button" data-action="reset">
            <i class="fas fa-undo"></i> {{localize "SETTINGS.Reset"}}
        </button>
    </footer>
</form>
