<form autocomplete="off">
    <p class="notes">{{localize "SCENES.GridConfigToolHint"}}</p>

    <div class="form-group">
        <label>{{localize "SCENES.GridType"}}</label>
        <div class="form-fields">
            <select name="gridType" data-dtype="Number">
            {{#select scene.gridType}}
            {{#each gridTypes as |label t|}}
                <option value="{{t}}">{{localize label}}</option>
            {{/each}}
            {{/select}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "SCENES.BackgroundScale" }}</label>
        <div class="form-fields">
            <input type="text" name="scale" value="{{ scale }}" data-dtype="Number"/>
        </div>
        <p class="notes">{{localize "SCENES.BackgroundScaleHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{ localize "SCENES.GridSize" }}</label>
        <div class="form-fields">
            <input type="text" name="grid" value="{{ scene.grid }}" data-dtype="Number"/>
        </div>
        <p class="notes">{{ localize "SCENES.GridResizeHint" }}</p>
    </div>

    <div class="form-group">
        <label>{{ localize "SCENES.GridPosition" }}</label>
        <div class="form-fields">
            <label>x</label>
            <input type="text" name="shiftX" placeholder="{{localize 'SCENES.Pixels'}}" value="{{scene.shiftX}}" data-dtype="Number"/>
            <label>y</label>
            <input type="text" name="shiftY" placeholder="{{localize 'SCENES.Pixels'}}" value="{{scene.shiftY}}" data-dtype="Number"/>
        </div>
        <p class="notes">{{ localize "SCENES.GridPositionHint" }}</p>
    </div>

    <div class="form-group">
        <button type="button" name="reset">
            <i class="fas fa-sync"></i> {{ localize "SCENES.GridReset" }}
        </button>
        <button type="submit">
            <i class="fas fa-save"></i> {{ localize "SETTINGS.Save" }}
        </button>
    </div>
</form>
