<form autocomplete="off">
    <p class="notes">{{ localize "SOUND.ConfigHint" }}</p>

    <div class="form-group">
        <label>{{ localize "SOUND.SourcePath" }}</label>
        <div class="form-fields">
            <input type="text" name="path" placeholder="{{ localize 'SOUND.PathPlaceholder' }}" value="{{data.path}}"/>
            {{filePicker target="path" type="audio"}}
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "XCoord"}} <span class="units">({{localize "Pixels"}})</span></label>
        <div class="form-fields">
            {{numberInput data.x name="x" step=1}}
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "YCoord"}} <span class="units">({{localize "Pixels"}})</span></label>
        <div class="form-fields">
            {{numberInput data.y name="y" step=1}}
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SOUND.Radius" }} <span class="units">({{gridUnits}})</span>:</label>
        <div class="form-fields">
            <input type="number" name="radius" value="{{data.radius}}" step="any"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SOUND.Easing"}}</label>
        <input type="checkbox" name="easing" {{checked data.easing}}/>
        <p class="notes">{{localize "SOUND.EasingHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "SOUND.Walls"}}</label>
        <input type="checkbox" name="walls" {{checked data.walls}}>
        <p class="hint">{{ localize "SOUND.WallsHint" }}</p>
    </div>

    <div class="form-group">
        <label>{{ localize "SOUND.MaxVol" }}</label>
        <div class="form-fields">
            <input class="sound-volume" type="range" name="volume" title="{{ localize 'PLAYLIST.SoundVolume' }}" value="{{data.volume}}"
                   min="0" max="1" step="0.05"/>
            <span class="range-value">{{data.volume}}</span>
        </div>
        <p class="notes">{{localize "SOUND.MaxVolHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{ localize 'SOUND.DarknessRange' }}</label>
        <div class="form-fields">
            <label for="darkness.min">{{ localize "Between" }}</label>
            <input type="number" name="darkness.min" value="{{data.darkness.min}}" min="0" max="1" step="any" placeholder="0"/>
            <label for="darkness.max">{{ localize "and" }}</label>
            <input type="number" name="darkness.max" value="{{data.darkness.max}}" min="0" max="1" step="any" placeholder="1"/>
        </div>
        <p class="hint">{{ localize "SOUND.DarknessRangeHint" }}</p>
    </div>

    <button type="submit" name="submit"><i class="far fa-save"></i> {{submitText}}</button>
</form>
