<form autocomplete="off">
    <p class="notes">{{ localize "CONTROLS.MeasureConfigHint" }}</p>

    <div class="form-group">
        <label>{{ localize "CONTROLS.MeasureType" }}</label>
        <select name="t" data-dtype="String">
            {{#select data.t}}
            {{#each templateTypes as |type t|}}
            <option value="{{t}}">{{localize type}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{ localize "XCoord" }} <span class="units">({{ localize "Pixels" }})</span></label>
        <input type="text" name="x" placeholder="X" value="{{data.x}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
        <label>{{ localize "YCoord" }} <span class="units">({{ localize "Pixels" }})</span></label>
        <input type="text" name="y" placeholder="Y" value="{{data.y}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
        <label>{{ localize "Direction" }} <span class="units">({{ localize "Degrees" }})</span></label>
        <input type="text" name="direction" placeholder="{{ localize "Direction" }}" value="{{data.direction}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
        <label>{{ localize "Angle" }} <span class="units">({{ localize "Degrees" }})</span></label>
        <input type="text" name="angle" placeholder="{{ localize "Angle" }}" value="{{data.angle}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
        <label>{{ localize "Distance" }} <span class="units">({{gridUnits}})</span></label>
        {{numberInput data.distance name="distance" placeholder=(localize "Distance") min=0 max=10000}}
    </div>

    <div class="form-group">
        <label>{{ localize "Width" }} <span class="units">({{gridUnits}})</span></label>
        <input type="text" name="width" placeholder="{{localize "Width"}}" value="{{data.width}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
        <label>{{ localize "CONTROLS.MeasureBorder" }}:</label>
        <input type="color" name="borderColor" value="{{data.borderColor}}" data-dtype="String"/>
    </div>

    <div class="form-group">
        <label>{{ localize "DRAWING.FillColor" }}:</label>
        <input type="color" name="fillColor" value="{{data.fillColor}}" data-dtype="String"/>
    </div>

    <div class="form-group">
        <label>{{ localize "CONTROLS.MeasureTemplate" }}:</label>
        <div class="form-fields">
            {{filePicker target="texture" type="image"}}
            <input class="image" type="text" name="texture" placeholder="path/image.png" value="{{data.texture}}" data-dtype="String"/>
        </div>
    </div>

    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{data.submitText}} {{ localize "Template" }}</button>
</form>
