<div class="tab" data-group="main" data-tab="vision">
    <div class="form-group">
        <label>{{localize "TOKEN.VisionHas"}}</label>
        <input type="checkbox" name="vision" {{checked object.vision}}/>
    </div>
    <div class="form-group slim">
        <label>{{localize "TOKEN.VisionRadius"}} <span class="units">{{gridUnits}}</span></label>
        <div class="form-fields">
            <label>{{localize "TOKEN.VisionDim"}}</label>
            <input type="number" step="0.1" name="dimSight" placeholder="{{gridUnits}}" value="{{object.dimSight}}"/>
            <label>{{localize "TOKEN.VisionBright"}}</label>
            <input type="number" step="0.1" name="brightSight" placeholder="{{gridUnits}}" value="{{object.brightSight}}"/>
        </div>
    </div>
    <div class="form-group slim">
        <label>{{localize "TOKEN.VisionAngle"}} <span class="units">({{localize "Degrees"}})</span></label>
        <div class="form-fields">
            <input type="number" name="sightAngle" placeholder="{{gridUnits}}" value="{{object.sightAngle}}"/>
        </div>
    </div>
</div>
