{{#if unavailable}}
    <span class="tag unavailable">{{unavailable}}</span>
{{/if}}
{{#if data.packs}}
    <span class="tag compendium" title="{{localize "PACKAGE.TagCompendium" }}"><i class="fas fa-book"></i></span>
{{/if}}
{{#if data.languages}}
    <span class="tag languages" title="{{localize "PACKAGE.TagLocalization" }}"><i class="fas fa-language"></i></span>
{{/if}}
{{#if incompatible}}
    <span class="tag unknown" title="{{incompatible}}"><i class="fas fa-exclamation-triangle"></i> {{data.compatibleCoreVersion}}</span>
{{/if}}
<span class="tag version"><i class="fas fa-code-branch"></i> {{version}}</span>
