<nav id="controls" class="flexrow">
    <ol class="main-controls app control-tools flexcol {{ cssClass }}">
        {{#each controls as |c|}}
        <li class="scene-control {{c.css}}" data-control="{{c.name}}" data-canvas-layer="{{c.layer}}" title="{{localize c.title}}">
            <i class="{{c.icon}}"></i>
        </li>
        {{/each}}
    </ol>
    {{#each controls as |c|}}
    <ol class="sub-controls app control-tools flexcol {{c.css}}">
        {{#each c.tools as |t|}}
        <li class="control-tool {{t.css}}" title="{{localize t.title}}" data-tool="{{t.name}}">
            <i class="{{t.icon}}"></i>
        </li>
        {{/each}}
    </ol>
    {{/each}}
</nav>
