<nav id="navigation" class="app flexrow {{#if collapsed}}collapsed{{/if}}">
    {{#if scenes}}
	<a id="nav-toggle" class="nav-item" title="{{ localize "SCENES.ToggleNav" }}">
		<i class="fas fa-caret-{{#if collapsed}}down{{else}}up{{/if}}"></i>
	</a>
    {{/if}}
    
    <ol id="scene-list">
		{{#each scenes}}
        <li class="scene nav-item {{this.css}}" data-scene-id="{{this._id}}">
            <a class="scene-name">
                {{#if this.active}}<i class="fas fa-bullseye"></i>{{/if}}
                {{{this.name}}}
            </a>
            <ul class="scene-players">
            {{#each this.users as |user i|}}
                <li class="scene-player" style="background-color: {{user.color}};">{{user.letter}}</li>
            {{/each}}
            </ul>
        </li>
    	{{/each}}
    </ol>
</nav>
